.ourskills {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    .testimonials,
    .skills {
      @media (min-width: $lg) {
        flex-basis: 45%;
      }
      h3,
      p {
        text-align: center;
        word-spacing: 3px;
        letter-spacing: 2px;
      }
      h3 {
        font-size: 1.2rem;
        text-transform: capitalize;
        margin-bottom: 2.5rem;
        color: $black-white-color;
      }
      p {
        font-size: 0.9rem;
        text-transform: lowercase;
        line-height: 2;
        color: $light-color;
        margin-bottom: 5rem;
      }
    }
    .testimonials {
      .box-tes {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
        @media (max-width: $md) {
          flex-direction: column;
          text-align: center;
        }
        img {
          width: 100px;
          border-radius: 50%;
          margin-right: 50px;
          @media (max-width: $md) {
            margin-right: 0;
            margin-bottom: 1.5rem;
          }
        }
        .text {
          font-size: 0.9rem;
          text-transform: lowercase;
          line-height: 1.8;
          border-bottom: solid 1px $light-color;
          p {
            text-transform: capitalize;
            text-align: right;
            margin-bottom: 0.6rem;
            margin-top: 0.7rem;
          }
        }
      }
      .pullets {
        margin: 3rem auto 2rem;
        display: flex;
        justify-content: center;
        li {
          width: 15px;
          height: 15px;
          border: solid 1px $secondary-colo-light;
          border-radius: 50%;
          margin-right: 1rem;
          transition: .5s ease-in-out;
          cursor: pointer;
          &:hover{
            background-color: $secondary-colo-light;
          }
        }
        .active {
          background-color: $secondary-colo-light;
        }
      }
    }
    // start skills
    .skills {
      .prog-hold {
        margin-bottom: 2rem;
        h4 {
          font-size: 1rem;
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 0.6rem;
        }
        .prog {
          width: 100%;
          height: 30px;
          background-color: $gray;
          span {
            position: relative;
            height: 100%;
            background-color: $secondary-colo-light;
            display: block;
            &::before {
              content: attr(data-progress);
              position: absolute;
              background-color: $black;
              width: 40px;
              height: 30px;
              top: -40px;
              right: -20px;
              padding: 0.5rem 0;
              text-align: center;
              color: $white-color;
              border-radius: 0.3rem;
            }
            &::after {
              content: "";
              position: absolute;
              border-style: solid;
              border-width: 8px;
              border-color: $black transparent transparent;
              top: -10px;
              right: -8px;
            }
          }
        }
      }
    }
  }
}
