// fonts
$primary-font: "Roboto", sans-serif;
// Colors
$primary-color: rgba(15 ,116 ,143 ,.7);
$secondary-colo-light: #19c8fa;
$white-color: #fefbfc;
$black-white-color: #333333;
$black : #101111;
$light-color :#777;
$gray:#bdc3c7;
// size
$font-size-default: 16px;
// media query
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;
// padding
$padding-body:30px;
$main-padding : 2rem;
$width-sub : 130px;
